@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://cdn.jsdelivr.net/gh/toss/tossface/dist/tossface.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    width: 100%;
    height: 100%;
}

body {
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 30px;
}

button {
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
}

.tossFace {font-family: Tossface;}

.gold, .fame, .fameLevel {
    min-width: 40px;
    display: inline-flex;
    justify-content: flex-end;
}

.fameLevel {
    min-width: 20px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.squre {
    width: 600px;
    height: 0;
    padding-bottom: 100%;
    position: relative;
}

.board {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 600px;
    height: 600px;
    border-radius: 5px;
    overflow: hidden;
    z-index: 1;
}

.block {
    position: relative;
    font-family: Tossface;
    font-size: 32px;
    width: calc(100% / 7);
    height: calc(100% / 7);
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #54645d; */
    background: transparent;
}

.scaleUp {
    animation: scaleUp 0.2s ease-in-out forwards;
}

@keyframes scaleUp {
    0% {
        transform: scale(0);
    }
    80% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.tile {
    font-size: 32px;
    width: calc(100% / 7);
    height: calc(100% / 7);
    display: flex;
    justify-content: center;
    align-items: center;
    background: #54645d;
    z-index: -1;
    pointer-events: none;
}

.tiles {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 600px;
    height: 600px;
    border-radius: 5px;
    overflow: hidden;
}

.tile:nth-of-type(2n){
    background: #4d5b55;
}

.touch_on {
    border: 1px solid #fff;
}

/* .block:nth-of-type(2n){
    background: #4d5b55;
} */

.block.drag-on {
    filter: brightness(1.1);
}

.block.clone {
    position: absolute;
    z-index: 100;
    border-radius: 10px;
    background-color: transparent !important;
    font-size: 32px;
    pointer-events: none;
    border: none;
    transition: none;
    transform: translate3d(-50%, -50%, 0);
}

.status {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    color: #fff;
    padding: 0px 0 10px;
}

.button_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    width: 100%;
    gap: 10px;
    flex-wrap: wrap;
}

.button_wrap button {
    width: 100%;
    max-width: 600px;
    background: #111;
    color: #fff;
    box-shadow: none;
    outline: none;
    border-radius: 5px;
    border: none;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 20px;
    cursor: pointer;
}

.order_list {
    color: #fff;
    width: 100%;
    max-width: 600px;
    height: 100%;
    max-height: 727px;
}

.order_list h2 {
    font-size: 14px;
}

.order_list ul .infor_text{
    display: none;
}

.order_list ul.no-order .infor_text{
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.4;
}

.order_list ul {
    min-width: 200px;
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;    
}

.order_list ul li {
    display: flex;
    width: 100%;
    list-style: none;
    padding: 10px 0;
    background: #111;
    padding: 10px 20px;
    border-radius: 10px;
    position: relative;
    height: 52px;
    gap: 10px;
}

.order_list ul li span {
    display: inline-flex;
    align-items: center;
}

.order_list ul li + li {
    margin-top: 10px;
}

.order_list ul li span.need_item {
    font-weight: bold;
    font-family: Tossface;
}

.order_list ul li span.buy_price {
    color: orange;
}

.order_list ul li button {
    background: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: auto;
    box-shadow: none;
    outline: none;
    border-radius: 5px;
    border: none;
    order: 4;
}

.order_list ul li button.sell {
    background: #2e7754;
    color: #fff;
}

.order_list ul li .time {
    position: relative;
    bottom: inherit;
    right: inherit;
    display: flex;
    align-items: center;
    order: 3;
}

.order_list ul li .time .min::after{
    content: ":";
}

#buyItem {
    height: 42px;
    font-size: 13px;
    background: #2e7754;
    color: #fff;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
}

.cnt_num {
    width: 14px;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    text-align: left;
    font-size: 10px;
}

.dev {
    font-size: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal_layer {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 100;
    top: 0;
    left: 0;
    overflow: hidden;
    background: rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal_container {
    position: absolute;
    width: 90%;
    max-width: 600px;
    min-height: 30vh;
    height: auto;
    background: #202020;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5%;
}

.modal_title {
    color: #fff;
    margin-bottom: 10px;
}

.modal_content {
    color: #fff;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.modal_button_wrap {
    margin-top: auto;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.modal_button_wrap button {
    padding: 5px 15px;
    border: none;
    background: #111;
    color: #fff;
    border-radius: 5px;
}

.hide {
    display: none;
}

.button_wrap.main {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

#upgradeModal {
    height: 42px;
    font-size: 13px;
    background: #222;
    color: #fff;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
}

.blank {
    width: 10px;
}

@media screen and (max-width: 720px) {
    .drag-on {
        background: inherit !important;
    }

    html {
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }

    body {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        height: 100vh;
        padding: 20px 5%;
        gap: 10px;
        overflow: hidden;
    }

    .row {
        width: 100%;
    }

    .squre {
        width: 100%;
        height: 0;
        padding-bottom: 100%;
        position: relative;
    }

    .squre .board {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .squre .tiles {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .status {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .status span:first-child {font-weight: 700;}
    .status span:last-child {color: #ddd;}

    .order_list {
        width: 100%;
    }

    .order_list ul {
        max-height: 240px;
        overflow: auto;
    }

    .button_wrap {
        padding: 10px 0;
    }

    .button_wrap button {
        font-size: 12px;
        height: 42px;
        background: #111;
        color: #fff;
        padding: 10px 20px;
        word-break: keep-all;
    }

    .button_wrap button .price {
        margin-left: auto;
    }
    
    h2 {
        color: #fff;
        text-align: left;
        display: flex;
        justify-content: flex-start;
        width: 100%;
        font-size: 13px;
        padding-left: 10px;
        margin-bottom: 10px;
    }

    .order_list ul {
        width: 100%;
        overflow: auto;
    }

    .order_list ul li {
        width: 100%;
        padding: 10px 20px;
        font-size: 12px;
    }

    .order_list ul li.order {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
    }

    .order_list ul li .time {
        position: relative;
        bottom: inherit;
        right: inherit;
        display: flex;
        align-items: center;
        order: 3;
    }

    .order_list ul li button {
        position: relative;
        top: inherit;
        right: inherit;
        bottom: inherit;
        left: inherit;
        order: 4;
        font-size: 11px;
    }
}