@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://cdn.jsdelivr.net/gh/toss/tossface/dist/tossface.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    width: 100%;
    height: 100%;
}

body {
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 30px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.board {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 600px;
    height: 600px;
    border-radius: 5px;
    overflow: hidden;
}

.block {
    font-family: Tossface;
    font-size: 32px;
    width: calc(100% / 7);
    height: calc(100% / 7);
    display: flex;
    justify-content: center;
    align-items: center;
    background: #54645d;
}

.touch_on {
    border: 1px solid #fff;
}

.block:nth-of-type(2n){
    background: #4d5b55;
}

.block:hover {
    /* filter: brightness(1.1); */
}

.block.drag-on {
    filter: brightness(1.1);
}

.block.clone {
    position: absolute;
    z-index: 100;
    border-radius: 10px;
    background-color: transparent !important;
    font-size: 32px;
    pointer-events: none;
    border: none;
    transform: translate3d(-50%, -50%, 0);
}

.status {
    width: 600px;
    color: #fff;
    padding: 0px 0 10px;
}

.button_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    width: 100%;
    gap: 10px;
    flex-wrap: wrap;
}

.button_wrap button {
    width: 100%;
    max-width: 600px;
    background: #fff;
    color: #000;
    box-shadow: none;
    outline: none;
    border-radius: 5px;
    border: none;

    padding: 10px 0;
    cursor: pointer;
}

.button_wrap button:hover {
    background: #ddd;
}

.order_list {
    color: #fff;
    /* height: 600px; */
}

.order_list ul {
    min-width: 200px;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
}

.order_list ul li {
    display: flex;
    width: 100%;
    list-style: none;
    padding: 10px 0;
    background: #111;
    padding: 10px 20px 40px 20px;
    border-radius: 10px;
    position: relative;
    flex-direction: column;
}

.order_list ul li + li {
    margin-top: 10px;
}

.order_list ul li span.need_item {
    font-weight: bold;
    font-family: Tossface;
}

.order_list ul li span.buy_price {
    color: orange;
}

.order_list ul li button {
    position: absolute;
    top: 10px;
    right: 20px;
    background: #333;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    margin-left: auto;
    box-shadow: none;
    outline: none;
    border-radius: 5px;
    border: none;
}

.order_list ul li .time {
    position: absolute;
    bottom: 20px;
    right: 30px;
}

.order_list ul li .time .min::after{
    content: ":";
}

#buyItem {
    height: 42px;
    font-size: 13px;
}

@media screen and (max-width: 720px) {
    .drag-on {
        background: inherit !important;
    }

    html {
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }

    body {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        height: 100vh;
        padding: 20px 5%;
        overflow: hidden;
    }

    .row {
        width: 100%;
    }

    .squre {
        width: 100%;
        height: 0;
        padding-bottom: 100%;
        position: relative;
    }

    .squre .board {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .status {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .status span:first-child {font-weight: 700;}
    .status span:last-child {color: #ddd;}

    .order_list {
        width: 100%;
    }

    .button_wrap {
        flex-wrap: nowrap;
    }

    .button_wrap button {
        font-size: 10px;
        height: 32px;
        padding: 0;
        word-break: keep-all;
    }

    .order_list ul {
        width: 100%;
        overflow: auto;
    }

    .order_list ul li {
        width: 100%;
        padding: 10px 20px;
    }

    .order_list ul li.order {
        flex-direction: row;
        align-items: center;
        gap: 20px;
    }

    .order_list ul li .time {
        position: relative;
        bottom: inherit;
        right: inherit;
        display: flex;
        align-items: center;
        order: 3;
    }

    .order_list ul li button {
        position: relative;
        top: inherit;
        right: inherit;
        bottom: inherit;
        left: inherit;
        order: 4;
    }
}